body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.chat {
    background-color: #fff5f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

button {
    background-color: #af4c7c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e379ae;
}

.msg {
    display: flex;
    justify-content: space-between;
    background-color: #ffcee8;
    border-bottom: 1px solid #eee;
    align-items: center;
    padding: 0 10px;
}

.msg button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #af4c7c;
    transition: color 0.3s;
}

.msg button:hover {
    color: #e379ae;
}

.created-at {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
}

.action-buttons {
    display: flex;
    gap: 0px;
}